h1.title
{
    text-align: center
}
h2.author
{
    text-align: center
}
h3.date
{
    text-align: center
}
p.version, p.doi, p.url
{
    text-align: center
}
p.caption
{
    text-align: center
}
#jisc-logo, #ssi-logo
{
    height: 60px 
}
#ccby-logo
{
    height: 40px 
}
#logos-table
{ 
    width: 100%
}
#logos-left-cell
{ 
    text-align: left
}
#logos-right-cell
{ 
    text-align: right
}
#guidance-image
{
    width: 100% 
}
table.center
{
    margin-left:auto; 
    margin-right:auto;
}
table, th, td
{
   border: 1px solid black;
}
.noborder, .noborder tr, .noborder th, .noborder td
{
    border: none;
}
.pagebreak
{ 
    page-break-after: always;
}
